<% content_for :banner do %>
  Add a New Client
  <a class="btn btn-default pull-right" href="<%= clients_path %>">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back to clients
  </a>
<% end %>

<%= render partial: 'form', locals: {client: @client} %>
